body {
  width: 100%;
  height: auto;
  background: #e5e5e5;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 15rem;
  justify-content: space-around;
  align-items: center;
}
