.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 15rem;
  justify-content: space-around;
  align-items: center;
}
